<div class="container">
  <div class="jumbotron">
    <h1>Welcome, <%= current_user.username %></h1>

    <p>
      This is where you might put a breif summary of your current goals or some other info about you.
    </p>

  </div>
  <img src="images/matt.jpg" width='100' alt="Matt" />
</div>
