@import "bootstrap-sprockets";
@import "bootstrap";

.background-div {
  background: url('http://res.cloudinary.com/paintr/image/upload/v1445289968/c-book-money.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.jumbotron {
  background: #333;
  opacity: 0.9;
  color: white;
  text-align: center;
  border-radius: 20%;
}

.cashbook-title {
  text-align: center;
  background: white;
  opacity: 0.8;
  color: black;
}
